<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tongyuan.model.dao.NodeHistoryMapper">
    <resultMap id="baseResultMap" type="com.tongyuan.model.domain.NodeHistory">
        <id column="id" property="id" jdbcType="BIGINT"  />
        <result column="description" property="description" jdbcType="VARCHAR"/>
        <result column="node_name" property="nodeName" jdbcType="VARCHAR"/>
        <result column="sequence" property="sequence" jdbcType="VARCHAR"/>
        <result column="template_id" property="templateId" jdbcType="BIGINT"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="user_id" property="userId" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="baseColumnList">
        id,description,node_name,sequence,template_id,update_time,user_id
    </sql>

    <insert id="add" parameterType="java.util.Map">
        INSERT INTO node_history
        (description,node_name,sequence,template_id,update_time,user_id)
        VALUES
        (#{description},#{node_name},#{sequence},#{template_id},#{update_time},#{user_id})
    </insert>

    <select id="query" parameterType="java.util.Map" resultMap="baseResultMap">
        SELECT
        <include refid="baseColumnList"/>
        FROM node_history
        WHERE template_id=#{templateId}
    </select>

</mapper>